.DS_Store
node_modules
dist/
o1labs*.tgz
tests/report/
tests/test-artifacts/
profiling.md
o1js-reference
*.tmp.js
_build/
src/config/
src/config.mlh
.direnv
.rustup
result
# precompiled bindings
src/bindings/compiled
# allows dune and README.md
src/bindings/mina-transaction/gen/*/*.js
src/bindings/mina-transaction/gen/*/*.ts
.bindings_download
