src/snarkyjs-bindings/compiled/web_bindings/**/plonk_wasm*
src/snarkyjs-bindings/compiled/web_bindings/**/*.bc.js
src/snarkyjs-bindings/compiled/node_bindings/*
dist/**/*
src/snarkyjs-bindings/kimchi/js/**/*.js
