name: Build SnarkyJS
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Build-And-Test-Server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: run build:node & tests
        run: |
          npm ci
          npm run build:node
          npm run test
          npm run test:integration

      - name: Publish to NPM if version has changed
        uses: JS-DevTools/npm-publish@v1
        if: github.ref == 'refs/heads/releases'
        with:
          token: ${{ secrets.NPM_TOKEN }}
        env:
          INPUT_TOKEN: ${{ secrets.NPM_TOKEN }}

  Build-Web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: run build:web
        run: |
          npm ci
          npm run build:web
