name: Pr only Checks
on:
  pull_request:
    types: [assigned, opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main
      - develop
      - develop-3.0
jobs:
  Check-Changelog:
    name: Check Changelog Action
    runs-on: ubuntu-latest
    steps:
      - uses: tarides/changelog-check-action@v2
        with:
          changelog: CHANGELOG.md

  Pkg-pr-new:
    # Only run this job when the pull request contains the pkg‑pr‑release label.
    if: github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'pkg-pr-release')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: release-pkg-pr-version
        uses: ./.github/actions/release-pkg-pr-version

  Check-npm-deps:
    name: Check npmDepsHash is correct
    runs-on: ubuntu-latest
    steps:
      - name: Disable smudging
        run: echo "GIT_LFS_SKIP_SMUDGE=1" >> $GITHUB_ENV
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: nixbuild/nix-quick-install-action@v30
        continue-on-error: true
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true
            require-sigs = false
      - name: fix npmDepsHash
        run: |
          set -Eeu
          ./pin.sh
          nix run o1js#update-npm-deps
      # if the npmDepsHash is out of date auto commit the new one
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "auto update npmDepsHash"
          file_pattern: "npmDepsHash"


  Lint-Format-and-Typo-Check:
    if: github.event.pull_request.labels.*.name != 'skip-lint'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Node.JS
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies
        run: npm ci

      - name: Get changed files
        id: changed_files
        run: |
          git fetch --depth=1 origin ${{ github.event.pull_request.base.sha }}
          git fetch --depth=1 origin ${{ github.event.pull_request.head.sha }}
          git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} > changed_files.txt
          TOTAL=$(wc -l < changed_files.txt)
          echo "count=$TOTAL" >> $GITHUB_OUTPUT

      - name: Run Prettier Check
        if: steps.changed_files.outputs.count > 0
        run: xargs npm run format:check < changed_files.txt
        continue-on-error: true

      - name: Run Oxlint
        if: steps.changed_files.outputs.count > 0
        run: xargs npm run lint:strict < changed_files.txt
        continue-on-error: true

      - name: Run Markdown Format Check
        run: npm run format:md:check
        continue-on-error: true

      - name: Run cspell
        if: github.event.pull_request.labels.*.name != 'no-typo-check'
        uses: streetsidesoftware/cspell-action@v7
        continue-on-error: true
        with:
          config: .config/cspell.json
      
      - name: Fail if any checks fail
        if: failure()
        run: echo "Some checks failed, failing" && exit 1
